.btn-group{
    background-color: rgb(80, 68, 68);
    width: 750px;
}
.btn{
    width: 250px;
}
.dashboard{
    height: 250px;
    width: 750px;
    background-color: rgb(105, 93, 93);
}
input[type="text"]{
    width: 90%;
    line-height: 30px;
    outline: none;
    border:0px;
    border-bottom: 2px solid rgb(236, 233, 8);
    text-align: center;
    background-color: rgb(105, 93, 93);
    color: honeydew;
}
label{
    color: honeydew;
}
.footer{
    background-color: rgb(80, 68, 68);
    color: honeydew;
    height: 70px;
    width: 750px;
}
.btn-rel{
    height: 40px;
}